<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/Home.css">
    <link rel="icon" type="image" href="../static/assets/icon.png">
    <title>Groupie Tracker</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Explorez le monde des artistes avec Groupie Tracker</h1>
            <p> Plongez dans l'univers de vos groupes/artistes de rock préférés. Découvrez leurs albums, leurs musiques, leur date de création, les membres du groupe et bien plus encore...</p>
        </header>
        <main>
            <div class="btn">
                <a href="/listartist">Plongez dans l'aventure </a>
            </div>
        </main>
    </div>
</body>
</html>
